
<style>
    @import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
  width: 100%;
  background-color: black;
}

img {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout {
    font-size: .7em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -11px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
}

.button {
    text-decoration: none;
    float: right;
    padding: 14px;
    padding: 13px;
    margin: 15px;
    color: white;
    width: 11px;
    background-color: black;
    transition: width .35s;
    -webkit-transition: width .36s;
    overflow: hidden;
}

a:hover {
  width: 106px;
  font-weight: bold;
  color: antiquewhite;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: antiquewhite;
}


</style>

<div class="navigation">
  
	<a class="button" href="/">
  	<!-- <img src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg"> -->
  
  <div class="logout">LOGOUT</div>

	</a>
  
</div>
