* {
  margin: 0px;
}

body {
  height: 100%;
  background-image: url(../img/shutterstock_1389400292.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
}

.nav__container {
  text-align: center;
}
.container_menu{
    display: flex;
    justify-content: center;
}
.login__container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 10%;
}

.login__container {
  width: 287px;
  height: 469px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 121, 142, 0.8)), to(rgba(0, 0, 0, 0.6)));
}

.img-login__container {
    margin-top: 31%;
    /* margin: 10%; */
    display: flex;
    justify-content: center;
    margin-bottom: 82px;
}

.img-login__container img {
  width: 100px;

}

.input_login__container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

::placeholder { color: rgba(255, 255, 255, 0.5); }
.input_login {
  width:100%;
  height: 50px;
  background: transparent;
  border: none;
  box-sizing: border-box;
  padding-left: 30px;
  color: white;
}


.input_login:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.icon_style img {
  width: 25px;

}

.icon_style {
  display: inline-block;
  margin-top: 10px;
  margin-left: -105px;
  position: fixed;
  left: 49%;
}


.button_container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.button_container input {
    position: relative;
    width: 100%;
    height: 35px;
    color: rgba(255, 255, 255, 0.8);
    background: #E07A5F;
    font-size: 12px;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    border: none;
    margin-bottom: 35px;

}

.register_login_container {
  text-align: center;
}

.register_login_container p {
  font-size: 12px;
  color: #ABA8AE;
}

.register_login_container a {
  font-size: 12px;
  color: #FFFF;
  text-decoration-line: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    color: white;
    padding: 10px;
    text-align: center;
}
.box_user{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 25%;
  background-color: white;
  flex-direction: column;
  height: 500px;
  width: 50%;
}

.alert_toSign {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  position: absolute;
  top: 680px;
  left: 700px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.container_background{
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0.3px rgba(78, 78, 78, 0.438);

}

.buttom-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.buttom-container button{
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: #E07A5F;
  color: white;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
